.footer-section {
    background-color: var(--russet-clr);
    color: var(--light-khaki);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    font-size: 1.2rem;
}