/* general styles */
:root {
    /* #854d27, #dd7230, #f4c95d, #e7e393, #04030f; */

    --russet-clr: #854d27;
    --orange: #dd7230;
    --grain-yellow: #f4c95d;
    --light-khaki: #e7e393;
    --rich-black: #04030f;
}

* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* end of general styles */

/* navbar styles */
.navbar-section {
    width: 100%;
    position: fixed;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--russet-clr); */
    z-index: 1000;
    background-color: whitesmoke;
}

@media (max-width: 960px) {
    .navbar-section {
        background: var(--russet-clr);
    }
}

.logo-container {
    margin-left: 2.5em;
}

.logo-name {
    font-size: 2.5vw;
    /* color: var(--cyan-drk); */
    color:var(--light-khaki);
    font-family: var(--merienda-fnt);
    font-weight: 700;
}

.hamburger-btn {
    margin-right: 2.5em;
    color: #fff;
}


.nav-container {
    margin-right: 2.5em;
}

@media (max-width: 960px) {
    .nav-container {
        position: absolute;
        top: 15vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--light-khaki);
        width: 80vw;
        display: none;
    }

    .nav-container.active {
        display: block;
    }
}

.menu-nav {
    display: flex;
}

@media (max-width: 960px) {
    .menu-nav {
        flex-direction: column;
        align-items: center;
    }
}

.menu-nav__item {
    margin-right: 50px;
}

.menu-nav__link {
    color: var(--rich-black);
}

.menu-nav__link:hover {
    color: var(--russet-clr);
    transition: 0.6s ease;
}

@media (max-width: 960px) {
    .menu-nav__item {
        margin: 10px 0;
    }
}