@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merienda&display=swap');

:root {
  /* #854d27, #dd7230, #f4c95d, #e7e393, #04030f; */

  --russet-clr: #854d27;
  --orange: #dd7230;
  --grain-yellow: #f4c95d;
  --light-khaki: #e7e393;
  --rich-black: #04030f;

  --cyan-drk: #00353f;
  --blue: #08c5d1;

  --merienda-fnt: 'Lobster', cursive;
}


body::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 50%;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--cyan-drk);
  outline: 1px solid var(--russet-clr);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
